.addtask{
    text-align: right;
    padding-right: 50px;
    margin-top: 20px;
    font-family: 'Edu SA Beginner', cursive;
    font-size: 30px;
    color:blueviolet
}


.taskicon{
   cursor: pointer;
   margin-left: 5px;
   border-radius: 10px;
   
}

.showtasks{
    margin-left: 10%;
    margin-bottom: 10px;
   
}

.listtasks{
    list-style: none;
    width: 100%;
    display: inline-flex;
    margin-bottom:10px ;
    margin-top:10px;
   
}
.listicon{
    margin:auto;
    text-align: center;
}
li{
    display:inline-flex;
    width:100%;
    position:relative;
}

.showtasksheading{
    display: flex;
    justify-content: space-between;
    width:70%;
    margin-left: 20%;
    margin-top: 10%;
    font-family: 'Permanent Marker', cursive;

}